<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Group</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>intro.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/gioi-thieu</location>
  </error-page>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupController</servlet-name>
    <servlet-class>controller.GroupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupController</servlet-name>
    <url-pattern>/nhom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BlogController</servlet-name>
    <servlet-class>controller.BlogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogController</servlet-name>
    <url-pattern>/bai-dang</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupDetailController</servlet-name>
    <servlet-class>controller.GroupDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupDetailController</servlet-name>
    <url-pattern>/chi-tiet-nhom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserGroupController</servlet-name>
    <servlet-class>controller.UserGroupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGroupController</servlet-name>
    <url-pattern>/thanh-vien-nhom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSignupController</servlet-name>
    <servlet-class>controller.UserSignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignupController</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IntrolController</servlet-name>
    <servlet-class>controller.IntrolController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntrolController</servlet-name>
    <url-pattern>/gioi-thieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/trang-ca-nhan</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ShowLopController</servlet-name>
    <servlet-class>controller.ShowLopController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLopController</servlet-name>
    <url-pattern>/showLop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentController</servlet-name>
    <servlet-class>controller.CommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentController</servlet-name>
    <url-pattern>/binhluan</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DelUserInGroupController</servlet-name>
    <servlet-class>controller.DelUserInGroupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserInGroupController</servlet-name>
    <url-pattern>/delTV</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AttendGroupController</servlet-name>
    <servlet-class>controller.AttendGroupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendGroupController</servlet-name>
    <url-pattern>/thamgiaNhom</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>OutGroupController</servlet-name>
    <servlet-class>controller.OutGroupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutGroupController</servlet-name>
    <url-pattern>/thoatNhom</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DelGroupController</servlet-name>
    <servlet-class>controller.DelGroupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelGroupController</servlet-name>
    <url-pattern>/delNhom</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AllUserController</servlet-name>
    <servlet-class>controller.AllUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUserController</servlet-name>
    <url-pattern>/sinh-vien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowSVController</servlet-name>
    <servlet-class>controller.ShowSVController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSVController</servlet-name>
    <url-pattern>/showSV</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakeGroupController</servlet-name>
    <servlet-class>controller.MakeGroupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeGroupController</servlet-name>
    <url-pattern>/tao-nhom</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>EditGroupController</servlet-name>
    <servlet-class>controller.EditGroupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditGroupController</servlet-name>
    <url-pattern>/sua-nhom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakeNewsController</servlet-name>
    <servlet-class>controller.MakeNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeNewsController</servlet-name>
    <url-pattern>/tao-bai-dang</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>EditNewsController</servlet-name>
    <servlet-class>controller.EditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsController</servlet-name>
    <url-pattern>/sua-bai-dang</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DelNewsController</servlet-name>
    <servlet-class>controller.DelNewsController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DelNewsController</servlet-name>
    <url-pattern>/xoa-bai-dang</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakeFactoryController</servlet-name>
    <servlet-class>controller.MakeFactoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeFactoryController</servlet-name>
    <url-pattern>/tao-khoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditFactoryController</servlet-name>
    <servlet-class>controller.EditFactoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFactoryController</servlet-name>
    <url-pattern>/sua-khoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FactoryController</servlet-name>
    <servlet-class>controller.FactoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactoryController</servlet-name>
    <url-pattern>/khoa</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ClassController</servlet-name>
    <servlet-class>controller.ClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassController</servlet-name>
    <url-pattern>/lop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakeClassController</servlet-name>
    <servlet-class>controller.MakeClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeClassController</servlet-name>
    <url-pattern>/tao-lop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditClassController</servlet-name>
    <servlet-class>controller.EditClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditClassController</servlet-name>
    <url-pattern>/sua-lop</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>EditUserController</servlet-name>
    <servlet-class>controller.EditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserController</servlet-name>
    <url-pattern>/sua-thong-tin-ca-nhan</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/tim-kiem</url-pattern>
  </servlet-mapping>
  
</web-app>